MYSQL_DATABASE=db_paymybuddy
MYSQL_USER=paymybuddy
MYSQL_PASSWORD=paymybuddy
MYSQL_ROOT_PASSWORD=rootpassword

SPRING_DATASOURCE_USERNAME=paymybuddy
SPRING_DATASOURCE_PASSWORD=paymybuddy
SPRING_DATASOURCE_URL=jdbc:mysql://mysql_paybuddy:3306/db_paymybuddy?allowPublicKeyRetrieval=true&useSSL=false

